{% extends 'base.html.twig' %}


{% block content %}
    {% if user == 'librarian' %}
        <h3>Librarian Main Page</h3>
        <h4>Add a book to the library</h4>
        <form action='/add-book' method='post'>
            <label for='title'>Title: </label>
            <input type='text' name='title' required>

            <label for='author'>Author: </label>
            <input type='text' name='author' required>

            <label for='copies'>Copies: </label>
            <input type='number' name='copies' min='0' max='100' required>

            <button type='submit'>Add book</button>

        </form>
    {% endif %}

    {% if books is not empty %}
    <p>Books in the library</p>
    <ul>
        {% for book in books %}
            <li><a href="/book/{{ book.getId }}">"{{ book.getTitle }}"</a> By:
            {% for author in book.findAuthors %}
                {{ author.getName }}
            {% endfor %}
            Total Copies:  {{ book.findCopies|length }}
            {% if book.findAvailableCopies is not empty %}
                Available Copies: {{ book.findAvailableCopies|length }}
            {% else %}
                <em>All copies are checked out at the moment!</em></li>
            {% endif %}
        {% endfor %}

    {% endif %}
    {% if books is not empty %}
        <p>Books in the library</p>
        <table>
        <style>
            table, th, td {
            border: 1px solid black;
            }
        </style>
            <colgroup>
                <col span="3" style="background-color:white">
                <col style="background-color:grey">
            </colgroup>

            <tr>
                <th>Book Name:</th>
                <th> Authors:</th>
                <th>Number of Copies:</th>
                <th>    Available Copies:</th>
            </tr>
            {% for book in books %}
                <tr>
                    <th><a href="/book/{{ book.getId }}">"{{ book.getTitle }}"</a></th>
                    <th>    By:
                        {% for author in book.findAuthors %}
                            {{ author.getName }}
                        {% endfor %}
                    </th>
                    <th>
                        Total Copies:  {{ book.findCopies|length }}
                    </th>
                    <th>
                        {% if book.findAvailableCopies is not empty %}
                            Available Copies: {{ book.findAvailableCopies|length }}
                        {% else %}
                            <em>N/A</em>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}

{% endblock %}
